//
// IMPORTS
//
@import "bourbon/bourbon";
@import "neat/neat";

// Font Import
@import url(https://fonts.googleapis.com/css?family=Exo+2);

//
// VARIABLES
//
$exo: 'Exo 2', sans-serif;

//
// DEFAULTS
//

body {
  font-family: $exo;
  color: black;
}

a {
  text-decoration: none;
  color: white;

}

//
// HEADER
//

header {
  @include outer-container(100%);
  background-color: #1E2327;
  height: 80px;

  .header-logo {
    @include span-columns(6);
    height: 100%;

    .logo {
      width: 142px;
      height: 100%;
      display: block;
      background-image: url("../assets/img/logo-text.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 10%;
      float: left;
    }

  }
  .header-links {
    @include span-columns(6);
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      color: white;
      display: block;
      text-align: center;
      text-decoration: none;
      float: right;
      padding: 50px 10px 10px 0px;
    }
  }
}
//
// GRID
//
